@font-face {
    font-family: "RaleWay";
    src: url("../fonts/raleway/Raleway-Medium.ttf") format("truetype");
}
body{
    font-family: "Raleway";
    background-color: #3F3F3F;
    border-top: 3px black solid;
}
a{
    color: black;
}



/* TABS */
.tab-close{
    padding-top: 5px;
    border-left: 5px #000000 solid;
    color: white;
}
.tab-close:hover{
    background:linear-gradient(to right, #FFFFFF, #3F3F3F);
}
.tab-open{
    background-color: white;
}
.tab-fix{
    background-color: white;
}
.red-open-color{
    border-top: 5px #920000 solid;
}
.red-close-color{
    border-bottom: 8px #920000 solid;
}
.blue-open-color{
    border-top: 5px #4400ff solid;
}
.blue-close-color{
    border-bottom: 8px #4400ff solid;
}
.green-open-color{
    border-top: 5px #006828 solid;
}
.green-close-color{
    border-bottom: 8px #006828 solid;
}
.purple-open-color{
    border-top: 5px #ac0095 solid;
}
.purple-close-color{
    border-bottom: 8px #ac0095 solid;
}
.orange-open-color{
    border-top: 5px #D45500 solid;
}
.orange-close-color{
    border-bottom: 8px #D45500 solid;
}
.card{
    background-color: #FFFFFF;
    padding-bottom: 3%;
    height: 90vh;
    animation-name: card-open;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.card p{
    font-size: 1.2em;
}
.subline{
    border: 3px black solid;
    width: 85%;
    margin: auto;
}
.small-subline{
    border: 3px black solid;
    width: 34%;
    margin-right: 33%;
    margin-left: 33%;
}
.top-timeline{
    border-bottom: 6px black solid;
}
.bottom-timeline{
    border-top: 6px black solid;
}
h1,h2{
    letter-spacing: 2px;
}
/* @keyframes card-open{
    0%    {height: 1vh; opacity: 0%; }
    50%  {height: 90vh; opacity: 20%; }
    100%    {height: 90vh;}
} */
.hobbyImg {
    opacity: 1;
    transition: .3s ease;
    background-color: #000000;
}
.overlayText{
    text-align: center;
    opacity: 0;
    transition: .3s ease;
}
.hobby:hover .hobbyImg {
    opacity: 0.5;
}
.hobby:hover .overlayText {
    opacity: 1;
    z-index: 5;
}

.fa-angle-double-left, .fa-angle-double-right{
    color: #000000;
}

#skills-container, #career-container{
    height: 65vh;
    overflow-y: scroll;
}
.skills-link.active{
    color: white !important;
    background-color: #ac0095 !important;
}
.career-link.active{
    color: white !important;
    background-color: #4400ff !important;
}

.star-color{
    color: goldenrod;
}
.timeline-courses{
    border-right: 15px #29ABE2 solid;
}
.timeline-work{
    border-right: 15px #d45500 solid;
}
.timeline-school{
    border-right: 15px #00aa17 solid;
}
@media (min-width: 1024px){
    .nav-link{
        color: black !important;
        background-color: #bfbfbf !important;
    }
}
@media (max-width: 1024px){
    #present, #career, #skills, #projects, #about{
        padding-top: 9vh;
    }
    .card{
        background-color: #FFFFFF;
        padding-bottom: 3%;
        height: auto;
        animation-name: card-open;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }
    #responsive-navbar{
        background-color: #3F3F3F;
        border-bottom: 5px #920000 solid;
    }
    #skills-container, #career-container{
        height: auto;
    }
    #projects{
        min-height: 120vh;
    }
    #present-anchor{
        color: #FFFFFF;
        background-color: #5F5F5F;
        border-right: 4px #920000 solid;
        border-bottom: 2px #920000 solid;
        border-top-left-radius: 20px;
    }
    #career-anchor{
        color: #FFFFFF;
        background-color: #5F5F5F;
        border-right: 4px #4400ff solid;
        border-bottom: 2px #4400ff solid;
        border-top-left-radius: 20px;
    }
    #skills-anchor{
        color: #FFFFFF;
        background-color: #5F5F5F;
        border-right: 4px #AC0095 solid;
        border-bottom: 2px #AC0095 solid;
        border-top-left-radius: 20px;
    }
    #projects-anchor{
        color: #FFFFFF;
        background-color: #5F5F5F;
        border-right: 4px #006828 solid;
        border-bottom: 2px #006828 solid;
        border-top-left-radius: 20px;
    }
    #about-anchor{
        color: #FFFFFF;
        background-color: #5F5F5F;
        border-right: 4px #D45500 solid;
        border-bottom: 2px #D45500 solid;
        border-top-left-radius: 20px;
    }
    
}