@font-face {
    font-family: "RaleWay";
    src: url("../fonts/raleway/Raleway-Medium.ttf") format("truetype");
}
body{
    font-family: "Raleway";
    background-color: #3F3F3F;
    border-top: 3px black solid;
}

/* TABS */
.tab-close{
    border-top-left-radius: 2em;
    padding-top: 5px;
    border-left: 5px #000000 solid;
    color: white;
}
.tab-close:hover{
    background:linear-gradient(to right, #FFFFFF, #3F3F3F);
}
.tab-open{
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: white;
}
.tab-fix{
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: white;
}
.red-open-color{
    border-top: 5px #920000 solid;
}
.red-close-color{
    border-bottom: 8px #920000 solid;
}
.blue-open-color{
    border-top: 5px #4400ff solid;
}
.blue-close-color{
    border-bottom: 8px #4400ff solid;
}
.green-open-color{
    border-top: 5px #006828 solid;
}
.green-close-color{
    border-bottom: 8px #006828 solid;
}
.purple-open-color{
    border-top: 5px #ac0095 solid;
}
.purple-close-color{
    border-bottom: 8px #ac0095 solid;
}
.orange-open-color{
    border-top: 5px #ffc400 solid;
}
.orange-close-color{
    border-bottom: 8px #ffc400 solid;
}
.card{
    background-color: #FFFFFF;
    border-bottom-left-radius: 2em;
    padding-bottom: 3%;
    height: 90vh;
    animation-name: card_open;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.card p{
    font-size: 1.2em;
}
.subline{
    border: 3px black solid;
    width: 85%;
    margin: auto;
}
.top-timeline{
    border-bottom: 6px black solid;
    width: 95%;
    margin: auto;
}
.bottom-timeline{
    border-top: 6px black solid;
    width: 95%;
    margin: auto;
}
h1,h2{
    letter-spacing: 2px;
}
@keyframes card_open{
    0%    {height: 1vh; opacity: 0%; }
    50%  {height: 90vh; opacity: 20%; }
    100%    {height: 90vh;}
}

.hobbyImg {
    opacity: 1;
    transition: .3s ease;
    background-color: #000000;
}
.overlayText{
    text-align: center;
    opacity: 0;
    transition: .3s ease;
}
.hobby:hover .hobbyImg {
    opacity: 0.5;
}
.hobby:hover .overlayText {
    opacity: 1;
    z-index: 5;
}

.fa-angle-double-left, .fa-angle-double-right{
    color: #000000;
}

#skills_container{
    height: 65vh;
    overflow-y: scroll;
}